<!DOCTYPE html>
<html>

<head>

    <title>PDF Parser</title>

    <link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="container">

    <h1>PDF Parser</h1>

    <input
        type="file"
        id="pdf"
        accept=".pdf"
    >

    <button id="uploadBtn">
        Upload
    </button>

    <div id="status"></div>

    <div class="spinner" id="spinner"></div>

    <a
        id="downloadBtn"
        class="hidden"
    >
        Download Markdown
    </a>

</div>

<script src="/static/script.js"></script>

</body>

</html>